{{- $remote_containers:= env "REMOTE_CONTAINERS" | not | not -}}
{{- $wsl:= and (not $remote_containers) (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  remote_containers = {{ $remote_containers }}
  wsl = {{ $wsl }}
{{- if not $remote_containers }}
{{- if index . "git_name" }}
  git_name = {{ .git_name | quote }}
{{- else }}
  git_name = {{ promptString "git user.name" | quote }}
{{- end }}
{{- if index . "git_email" }}
  git_email = {{ .git_email | quote }}
{{- else }}
  git_email = {{ promptString "git user.email" | quote }}
{{- end }}
{{- end }}

[merge]
  command = "nvim"
  args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}`}}", "{{`{{ .Target }}`}}"]
