tap "homebrew/bundle"
tap "homebrew/core"
tap "jandedobbeleer/oh-my-posh"
tap "jesseduffield/lazydocker"
tap "jesseduffield/lazygit"
brew "anyenv"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "fzf"
brew "git"
brew "git-delta"
brew "jq"
brew "k9s"
brew "kubernetes-cli"
brew "kubectx"
brew "kustomize"
brew "neovim"
brew "poetry"
brew "stern"
brew "tig"
brew "tmux"
brew "wget"
brew "yq"
brew "zsh"
brew "jandedobbeleer/oh-my-posh/oh-my-posh"
brew "jesseduffield/lazydocker/lazydocker"
brew "jesseduffield/lazygit/lazygit"
{{- if not .wsl }}
brew "ripgrep"
brew "exa"
{{- end }}

{{ if eq .chezmoi.os "darwin" }}
tap "homebrew/cask"
tap "homebrew/cask-fonts"
cask "firefox"
cask "font-hackgen"
cask "font-hackgen-nerd"
cask "google-chrome"
cask "google-japanese-ime"
cask "iterm2"
cask "karabiner-elements"
cask "linearmouse"
cask "raycast"
cask "rectangle"
cask "visual-studio-code"
{{- end }}
