{
  "$schema": "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json",
  "version": 2,
  "final_space": true,
  "blocks": [
    {
      "type": "prompt",
      "alignment": "left",
      "newline": true,
      "segments": [
        {
          "type": "path",
{{- if .remote_containers }}
          "template": " \uf308 {{`{{ .Path }}`}} ",
          "background": "#16825d",
          "foreground": "#FFFFFF",
{{- else }}
          "template": " {{`{{ .Path }}`}} ",
          "background": "#546E7A",
          "foreground": "#FFFFFF",
{{- end }}
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "properties": {
            "style": "full"
          }
        },
        {
          "background": "#4286b9",
          "foreground": "#FFFFFF",
          "powerline_symbol": "\ue0b0",
          "properties": {
            "fetch_status": true
          },
          "style": "powerline",
          "template": " {{`{{ .HEAD }}`}}{{`{{ .BranchStatus }}`}}{{`{{ if .Working.Changed }}`}} \uf044 {{`{{ .Working.String }}`}}{{`{{ end }}`}}{{`{{ if and (.Working.Changed) (.Staging.Changed) }}`}} |{{`{{ end }}`}}{{`{{ if .Staging.Changed }}`}} \uf046 {{`{{ .Staging.String }}`}}{{`{{ end }}`}} ",
          "type": "git"
        },
        {
          "background": "#906cff",
          "foreground": "#FFFFFF",
          "powerline_symbol": "\ue0b0",
          "style": "powerline",
          "template": " \ue235 {{`{{ if .Error }}`}}{{`{{ .Error }}`}}{{`{{ else }}`}}{{`{{ if .Venv }}`}}{{`{{ .Venv }}`}} {{`{{ end }}`}}{{`{{ .Full }}`}}{{`{{ end }}`}} ",
          "type": "python",
          "properties": {
            "display_mode": "context"
          }
        },
        {
          "background": "#6CA35E",
          "foreground": "#ffffff",
          "powerline_symbol": "\ue0b0",
          "style": "powerline",
          "template": " \ue718 {{`{{ .Full }}`}} ",
          "type": "node"
        },
        {
          "type": "dart",
          "style": "powerline",
          "powerline_symbol": "\uE0B0",
          "foreground": "#ffffff",
          "background": "#06A4CE",
          "template": " \uE798 {{`{{ .Full }}`}} "
        }
      ]
    },
    {
      "type": "prompt",
      "alignment": "right",
      "segments": [
        {
          "background": "#EBCC34",
          "foreground": "#000000",
          "invert_powerline": true,
          "powerline_symbol": "\ue0b2",
          "style": "powerline",
          "template": " 󱃾 {{`{{.Context}}`}}{{`{{if .Namespace}}`}} :: {{`{{.Namespace}}`}}{{`{{end}}`}} ",
          "type": "kubectl"
        },
        {
          "background": "#8800dd",
          "foreground": "#ffffff",
          "invert_powerline": true,
          "powerline_symbol": "\ue0b2",
          "properties": {
            "style": "austin",
            "threshold": 500
          },
          "style": "powerline",
          "template": " 󱦟 {{`{{ .FormattedMs }}`}} ",
          "type": "executiontime"
        },
        {
          "background": "#546E7A",
          "foreground": "#FFFFFF",
          "invert_powerline": true,
          "properties": {
            "time_format": "15:04:05"
          },
          "style": "diamond",
          "template": " {{`{{ .CurrentDate | date .Format }}`}} \uf017 ",
          "trailing_diamond": "\ue0b4",
          "type": "time"
        }
      ]
    },
    {
      "type": "prompt",
      "alignment": "left",
      "newline": true,
      "segments": [
        {
          "foreground": "#D4E157",
          "foreground_templates": [
            "{{`{{ if gt .Code 0 }}`}}#FF5252{{`{{ end }}`}}"
          ],
          "properties": {
            "always_enabled": true
          },
          "style": "plain",
          "template": "$",
          "type": "exit"
        }
      ]
    }
  ]
}
