#!/bin/sh
set -eu

{{ if .wsl -}}
# in WSL, integrate clipboard. require VcXsrc
if ! type xsel > /dev/null; then
  sudo apt-get update
  sudo apt-get install -y xsel
fi

# snap
sudo snap install ripgrep
{{- end }}

{{ if not .remote_containers -}}
# install homebrew
if ! type brew > /dev/null; then
  yes "" | /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  {{- if eq .chezmoi.os "linux" }}
    BREW_PREFIX="/home/linuxbrew/.linuxbrew"
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  {{- else if eq .chezmoi.os "darwin" }}
    {{- if eq .chezmoi.arch "arm64"}}
      BREW_PREFIX="/opt/homebrew"
    {{- else }}
      BREW_PREFIX="/usr/local"
    {{- end }}
  {{- end }}
  eval "$($BREW_PREFIX/bin/brew shellenv)"
fi

brew update
brew bundle --global --verbose

{{- else -}}

# linux distro
. /etc/os-release
ID=${ID_LIKE:-$ID}
case "$ID" in
  *debian*)
    apt-get update
    apt-get install -y \
      build-essential \
      zsh \
      wget \
      bat \
      exa \
      fzf \
      jq \
      ripgrep \
      openssh-client
    ;;
  alpine)
    apk update
    apk add \
      alpine-sdk \
      zsh \
      wget \
      bat \
      exa \
      fzf \
      jq \
      ripgrep \
      openssh-client \
      neovim \
      delta
    ;;
  *)
    echo "Not Supported Distro ID: ${ID}"
    ;;
esac

if ! type oh-my-posh > /dev/null; then
  wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-amd64 -O /usr/local/bin/oh-my-posh
  chmod +x /usr/local/bin/oh-my-posh
fi

{{ if ne .chezmoi.arch "arm64" -}}
# TODO: can't install neovim when arch is arm
if ! type nvim > /dev/null; then
  wget https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.deb -O /tmp/nvim-linux64.deb
  apt-get install /tmp/nvim-linux64.deb
fi
{{- end }}

if ! type delta > /dev/null; then
{{- if ne .chezmoi.arch "arm64" }}
  wget https://github.com/dandavison/delta/releases/download/0.14.0/git-delta_0.14.0_amd64.deb -O /tmp/git-delta.deb
{{- else }}
  wget https://github.com/dandavison/delta/releases/download/0.14.0/git-delta_0.14.0_arm64.deb -O /tmp/git-delta.deb
{{- end }}
  apt-get install /tmp/git-delta.deb
fi
{{- end }}

{{ if not .remote_containers -}}
# install tmux plugin manager
if [ ! -e ~/.tmux/plugins/tpm ]; then
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi
{{- end }}
